<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson 28</title>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<!-- 	<div id="app">
		Hello {{ x+y }}
		<hr>
		{{ list.join('_') }}
		{{ info.adress }}
		<p>
			I live in {{ info.city }}
		</p>
		<hr>
		{{ message }}
		<hr>
		<p>My x: {{ x }}</p>
		<p>My Z: {{ add.z }}</p>
	</div> -->

<!-- 	<hr> -->

<!-- <div id="app2">
	{{ className }}
	
	<div
		alt="example"
		v-bind:title="className"
		v-bind:style="`${appearance} font-size:${value*3}px`">
		span inner text
	</div>
	
	<div
		:style="appearance + 'font-size:' + value*3 + 'px'"
		:title="className">
		span inner text
	</div>
</div> -->

<!-- 	<hr> -->

<!-- 	<div id="app3">
		<span v-if="seen">Now you see me</span>
	</div> -->

<!-- 	<hr> -->

	<div id="app4">
		<ol>
			<li v-for="element of list">
				{{element.text}}
			</li>
		</ol>

		<ol>
			<li v-for="item in list" v-if="item.text">
				{{item.text}}
				{{item}}
			</li>
		</ol>

		{{item}}

		<ul>
			<li v-for="(myItem, myKey) in mass">
				{{myKey}} : {{myItem}}
			</li>
		</ul>
	</div>

<!-- 	<hr> -->

<!-- 	<div id="app5">
		<p>{{ calculate(8) }}</p>
		<p>{{ counter }}</p>

		<button @click="onClick(x, $event, 200)">Click</button>

		<button @mouseover="onClick">Click</button>
	</div> -->

<!-- 	<div id="appClass">
		<p :class="className">Text</p>
		<button @click="generateClass">Generate class</button>
	</div> -->

<!-- 	<div id="app6">
		<p>{{message}}</p>
		
		<input @input="onInput" :value="message">
		<input v-model="message">

		<input type="checkbox" v-model="show" name="showing">
		<p v-if="show">Text!</p>
	</div> -->

	<!-- <div id="app7">
		<p>{{ x }}</p>
		<p>{{ y }}</p>

		<p>getCustomValue: {{ getCustomValue() }}</p>

		<button @click="onClick">Click me</button>

		<p>{{ summ }}</p>
	</div>

	<script src="main.js"></script> -->

</body>
</html>